html {
    color: #343a40;
}

body {
    padding-bottom: 15vh;
    overflow: overlay;
}

#footer-div {
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: rgba(255, 255, 255, 0.85);
}

.btn:hover {
    text-decoration: underline 2px #cbd3da !important;
}

.btn:focus {
    box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 0.3rem;
}